@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,opsz,wght@0,9..144,900;1,9..144,700&display=swap');

/* Prérequis */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Fraunces';
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1em;
}

li {
    list-style-type: none;
}

/* Header */

nav {
    font-family: 'Barlow';
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 30px;
}

.NavBar-Container {
    display: flex;
    align-items: center;
}

.NavBar-Onglets {
    list-style-type: none;
    margin-right: 50px;
    color: white;
    cursor: pointer;
}

.Menu {
    display: none;
}

.Onglet-Contact {
    padding: 15px 25px;
    background-color: white;
    color: hsl(198, 62%, 26%);
    border-radius: 50px;
    text-transform: uppercase;
    font-family: 'Fraunces';
    transition: 0.2s ease-in-out;
}

.Onglet-Contact:hover {
    background-color: rgba(255, 255, 255, 0.253);
    color: white;
    transition: 0.2s ease-in-out;
}

.HomePage {
    height: 90vh;
    background: url('../../images/desktop/image-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Text-HomePage {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Paragraph-HomePage {
    color: white;
    letter-spacing: 10px;
    margin-bottom: 3%;
    text-transform: uppercase;
}

/* Main */

.Info-Container {
    display: grid;
    grid: auto / 1fr 1fr;
}

.Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Info > img {
    width: 100%;
}

.Info-Responcive {
    display: none;
}

.Text-Info {
    color: hsl(212, 27%, 19%);
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55vh;
    padding: 5% 0;
}

.Text-Info > p {
    color: hsl(210, 4%, 67%);
    font-family: 'Barlow';
}

.ButtonLearnYellow, .ButtonLearnRed {
    color: hsl(212, 27%, 19%) !important;
    font-family: 'Fraunces' !important;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    transition: 0.2s ease-in-out;
}

.ButtonLearnYellow:hover::after {
    content: '';
    background-color: hsl(51, 100%, 49%);
    margin-top: -7px;
    width: 130px;
    border-radius: 20px;
    height: 10px;
    transform: translateX(-8px);
    display: block;
}

.ButtonLearnRed:hover::after {
    content: '';
    background-color: hsl(7, 99%, 70%);
    margin-top: -7px;
    width: 130px;
    border-radius: 20px;
    height: 10px;
    transform: translateX(-8px);
    display: block;
}

.Info-Design {
    background: url('../../images/desktop/image-graphic-design.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 90vh;
}

.Design {
    height: 100%;
}

.DesignText {
    color: hsl(167, 40%, 24%);
    margin: auto;
    width: 65%;
    height: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    margin-top: 55vh;
}

.Info-Photography {
    background: url('../../images/desktop/image-photography.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 90vh;
}

.Photography {
    height: 100%;
}

.PhotographyText {
    color: hsl(198, 62%, 26%);
    margin: auto;
    width: 55%;
    height: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    margin-top: 55vh;
}

.Client {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin:90px;
}

.Client-Title {
    color: hsl(210, 4%, 67%);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 24px;
    margin: 50px 0;
}

.Client-Profil {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 80px 0;
}

.Client-Profil > li {
    margin: 0 50px;
}

.Logo-Profil {
    border-radius: 50%;
    width: 25%;
    margin-bottom: 10%;
}

.Description-Profil {
    color: hsl(232, 10%, 55%);
    font-family: 'Barlow';
    margin-bottom: 10%;
}

.Name-Profil {
    margin-bottom: 3%;
}

.Job-Profil {
    color: hsl(210, 4%, 67%);
    font-family: 'Barlow';
}

.About {
    background: #90d4c5;
}

.Top-About {
    display: grid;
    grid: auto / 1fr 1fr 1fr 1fr;
}

.Img-About {
    width: 100%;
}

.Bottom-About {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
}

.SVG {
    fill: hsl(168, 34%, 41%) !important; 
    width: 15%;
    margin: 5% auto 0 auto;
}

.Onglet-About {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 0 auto;
    color: hsl(168, 34%, 41%);
    font-family: 'Barlow';
    cursor: pointer;
}

.Onglet-About > li:hover {
    color: white;
    transition: 0.2s ease-in-out;
}

.Resaux-About {
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin: 0 auto;
}